
:root{
  font-size:10px;

  --font-size-small: clamp(0.8rem, 1.5vw, 1rem);
  --font-size-base:clamp(1.2rem, 2vw,2rem);
  --font-size-medium: clamp(1.5rem, 2vw, 4.5rem);
  --font-size-large: clamp(2.5rem, 5vw, 10rem);
  --font-size-xlarge: clamp(5rem, 10vw, 20rem);
  
  --spacing-small: clamp(0.5rem, 1vw, 1rem);
  --spacing-medium: clamp(1rem, 2vw, 1.5rem);
  --spacing-large: clamp(1.5rem, 3vw, 2.5rem);
  --spacing-xlarge: clamp(2rem, 4vw, 3.5rem);
  
  --max-width: clamp(20rem, 90vw, 75rem);
  --max-width_contacts: clamp(20rem, 100vw, 100rem);
  --card-width: clamp(18rem, 30vw, 25rem);
  --card-height: clamp(25rem, 40vw, 30rem);

  --header_title__text-color:rgb(199 64 2);
  --header_title__text-shadow: rgb(255 248 235);
  --header_title__text-shadow_offset: clamp(1px,2px,3px);

  --main_background_color:rgba(0,0,0,1);

  --card_background_color:rgba(120,120,120,1);
  --card_background_color_hover:rgba(140,140,140,1);

  --svg_stroke_color:rgba(232, 157, 50, 1);

  --main_gap: clamp(1vh, 50%, 100vh);

  --header_section_color:#333333;
  --header_section_color_hover:rgba(120,120,120,0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "NES_rus", monospace;
  /* border: 1px solid rgb(4, 109, 22); */

}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  font-size: var(--font-size-base);
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

section{
  /* display: grid; */
  /* min-height: 100vh; */
}

.main{
  display: flex;
  flex-direction: column;
  gap:var(--main_gap);
  gap:100px;
}