/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.main__body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: var(--spacing-xlarge);
}

.img_title{
  max-width: 100%;
  height: auto;
  object-fit: fill;
}

.block__footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}


.card-section {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card {
  display: inline-block;
  width: 80vw;
  vertical-align: top;
}

.img_container{
  padding: 45px;
}