/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

 .header {
    /* position: relative; */
    display: grid;
    grid-template-rows: 2fr 2fr 1fr min-content;
    height: 37vh;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.score {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: #ff0000; */
  font-family: "NES", serif;
}

.highscore{
  font-family: "NES", serif;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  border-block-end: 1px solid transparent;
  color: var(--button-text-color);
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-text-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  color: var(--accent-color);
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
  text-decoration: none;
}

.header__theme-menu-button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  opacity: 0.6;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s, color 0.3s;
  transition-timing-function: ease;
}

.header__theme-menu-button:focus {
  outline: none;
  text-decoration: underline;
  opacity: 0.6;
}

.header__theme-menu-button:active {
  text-decoration: none;
}

.header__theme-menu-button:focus-visible {
  opacity: 0.6;
}

.header__theme-menu-button:focus-visible::after {
  transform: scaleX(1);
}

.header__theme-menu-button:disabled {
  position: relative;
  color: var(--accent-color);
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  pointer-events: none;
}

.header__theme-menu-button:disabled::before {
  position: absolute;
  content: "▶";
}

.header__theme-menu-button:disabled::before {
  animation: select__point 0.5s ease infinite alternate;
}

@keyframes select__point {
  0% {
    inset-inline-start: -20px;
  }
  100% {
    inset-inline-start: -24px;
  }
}


.header__title {
  color: rgb(199 64 2);
  font-size: 51px;
  text-shadow: 0px 1px 0px rgb(255 248 235);
  font-family: "M10", serif;
  text-align: center;
}

.subtitle__decoration {
  font-family: "NES_rus", serif;
  color: var(--subtitle__text-color);
  font-size: clamp(14px, 2vw, 2rem);
}

.main__body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 40px 10px;
}

.section__point {
  color: var(--block-color);
  font-size: 18px;
}

.block__subtitle {
  margin-block-start: 23px;
}

.block__articles__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 20px;
}

.block__articles__text-body {
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.block__articles__text-body a {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.block__short {
  font-weight: 400;
}

.block__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 10px;
}

.block__footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-text-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-text-color);
}

.block__articles__text-body a:hover {
  border-bottom: 1px solid currentColor;
}

.block__articles__text-body a:focus {
  outline: none;
}

.block__articles__text-body a:focus-visible {
  border: 1px solid var(--button-text-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec {
    top: 21px;
    right: 28px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main__body {
    gap: 80px;
    padding: 60px 20px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 235px 1fr;
    grid-template-areas: "section__point block__articles__text";
    gap: 20px;
  }

  .landscape {
    display: flex;
    flex-direction: column;
  }

  .landscape .section__point {
    max-width: 235px;
  }

  .block__subtitle {
    margin-block-start: 0;
  }

  .block__articles {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section__point {
    grid-area: section__point;
  }

  .block__articles__text {
    grid-area: block__articles__text;
    padding-block-start: 0;
  }

  .block__images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block-start: 20px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }



  .subtitle {
    margin-top: 0px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
  }

  .header__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .content__section {
    grid-template-columns: 315px 1fr;
  }

  .header__subtitle {
    margin-bottom: 20px;
  }



}

